@import "bourbon";

$vendor: '', '-webkit-', '-moz-', '-ms-', '-o-';

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
}

.answerRight {
    .flashCardTable {
       background:red;  
       border:1px solid #e22;  
    }
}

.answerWrong {
    .flashCardTable {
        
        background:red;
    }
}

.flashCardTable, .resultsPane {
    @each $prefix in $vendor {
     left:  #{$prefix}calc(50% - 250px);
    }   
    position:absolute;
    z-index:100;
    width:500px;
    margin:0 auto;
    border:1px solid #e22;
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
    @include border-left-radius(5px);
    @include border-right-radius(5px);    
    padding:20px 40px;
    background-color:#8dc4ee;
    text-align:center;
    font-family: 'Averia Sans Libre', cursive;

    input {
        @include border-top-radius(5px);
        @include border-bottom-radius(5px);
        @include border-left-radius(5px);
        @include border-right-radius(5px);        
    }

    .title {
        font-size: 54px;
        line-height: 54px;
        margin: 10px 0;
        color: #fff;
    }

    .problemNav {
        width:90px;
        position:absolute;
        height:500px;
        top:0;
        cursor:pointer;

       &:before {
            display:block;
            height:20px;
            width:20px;
            position:relative;
            font-size: 160px;
            line-height: 160px;
            color: #fff;
       }
       &:hover {
            color:red;
       }
    }

    .problemNav[ng-model~="prev"] {
        left:10px;

       &:before {
            content:'<';
       }

    }

    .problemNav[ng-model~="next"] {
        right:10px;

       &:before {
            content:'>';
       }

    }

    .userAnswer {
        background-color:#ffffff;
        border:0;
        margin:0 10px;
        height:200px;
        width:340px;
        text-align:center;
        font-size:60px;
        line-height:60px; 
        margin-top:20px;           
    }

    .flashCard {
        background-color:#ff9600;
        border:0;
        margin:0 10px;
        height:200px;
        width:160px;
        text-align:center;
        font-size:60px;
        line-height:60px;
    }

    .testResult {
        background-color:blue;
        border:0;
        margin:0 10px;
        height:200px;
        width:340px;
        text-align:center;
        font-size:60px;
        line-height:60px;  
        clear:both;      
        margin-top:20px;   
        cursor:pointer;        
    }

}

.resultsPane {
    top:245px;
    position:absolute;
    width:600px;
    height:300px;
    z-index:0;
    background-color:green;
    @include transform(rotate(-90deg));
    @include transition (all 0.7s ease-in-out);
    .resultsTab {
        cursor:pointer;
    }
    .resultsList {
        @include transform(rotate(90deg));
        display: block;
        list-style-type: none;
        border: 1px solid #fff;
        padding: 0;
        width: 60px;
        margin: 0;
        position: absolute;
        right: 131px;
        bottom: 100px;

        li {
            text-align:left;
            border: 1px solid #fff;
            padding: 5px;   
            .answer0 {
                background-color:green;
            }   
            .answer1 {
                background-color:red;
            }               
        }        
    }

}

.resultsPane.inactive {
   @each $prefix in $vendor {
     left:  #{$prefix}calc(34% - 200px);
    }          
}

.resultsPane.active {
    @each $prefix in $vendor {
     left:  #{$prefix}calc(15% - 100px);
    }      
}

